<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.borja.ejemploinicial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".layouts.MainActivity" />
        <activity android:name=".intents.SegundaActivity" />
        <activity android:name=".intents.TeceraActivity" />
        <activity android:name=".layouts.TableActivity"/>
        <activity android:name=".layouts.GridActivity" />
        <activity android:name=".elementos.ElementosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>